@charset "EUC-KR";
header {
	display: flex;
	justify-content: flex-end;
	width: 80%;
	margin: 30px 10% 30px 10%;
}

header > button {
	background-color: skyblue;
	width: 200px;
	height: 30px;
	color: white;
}

section {
	display: flex;
	justify-content: center;
}

section > article {
	margin: 0px 5% 0px 5%;
	width: 30%;
}

.title {
	background-color: #000080;
	color: white;
	text-align: center;
}

.todo-cell {
	background-color: skyblue;
}