@charset "EUC-KR";

section {
	text-align: center;
}

.inner-content {
	list-style: none;
	display: flex;
	justify-content: center;
}

.inner-content > li {
	margin: 10px 30px 10px 0px;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: green;
	box-shadow: 0px 0px 10px black;
}

.inner-content > li:hover {
	cursor: pointer;
}

.inner-content > li > a {
	display: block;
	color: white;
	text-decoration: none;
}

.inner-content > li > a:hover {
	color: blue;
}